@import url('https://fonts.cdnfonts.com/css/star-wars');
:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
}

html,
body,
#root {
  /* background: radial-gradient(ellipse at bottom, #271b35 0%,#0b090f 100%); */
  background-color: black;
  background-size: cover;
  background-attachment: fixed;
  height: 100%;
  margin: 0;
  color: yellow !important;
  position: relative;
}

.logo
{
  font-family: 'Star Wars', sans-serif;
  font-size: 150px;
  padding: 20px;
  justify-self: center;
  z-index: 5 !important;
}

div
{
  justify-content: center !important;
  align-items: center !important;
}

a {
  text-decoration: none !important;
}

.background-container{
  position: absolute !important;
  width: 100vw;
  height: var(--pageHeight) !important;
  overflow: hidden;
  top: 0;
  left: 0;
}
.stars{
  position: absolute !important;
  transform: translate3d(0px, var(--translateY, 0px), 0) !important;
  top: 0;
  left: 0;
  
}

.Character-img{
  width: 85%;
  height: 100%;
  border-radius: 100%;
  border: 1px white;
  background-color: white;
  background-size: cover;
  /* background-position: center -10px; */
  align-self: center !important;
  background-repeat: no-repeat;
}

.foreground-stars {
  z-index: 3;
  /* transition: transform 0.2s ease-out; */
}

.middleground-stars {
  z-index: 2;
  /* */
}

.star{
  position: absolute !important;
  border-radius: 50%;
  animation: twinkle 5s infinite alternate;
}

.background-stars {
  z-index: 1;
}


@keyframes twinkle{
  0%, 100%{
    opacity: 0.2;
  }
  50%{
    opacity: 1;
  }
}

.react-flow__node
{
  background-color: black !important;
  color: white !important;
  border-color: white  !important;
}

.react-flow__node-input, .react-flow__node-default{
  background-color: black !important;
  color: white !important;
  border-color: white  !important;
  border-width: 0.1px !important;
  text-shadow: 0 0 2px var(--text-color), 0 0 5px var(--text-color), 0 0 10px var(--text-color);
  box-shadow: inset 0 0 15px var(--border-color), 0 0 2px var(--border-color), 0 0 2px var(--border-color), 0 0 15px var(--border-color) !important;
}

.react-flow__handle 
{
  background: var(--handle-color) !important;
}

.card {
  border-radius: 10% !important;
  justify-self: center;
  z-index: 5 !important;
  color: yellow !important;
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0) !important;; 
  background-color: transparent !important;
  margin-top: 40px;
  width: 35rem;
  height: 35rem !important;
}

.card:hover{
  z-index: 5 !important;
  background-color: transparent !important;
  color: yellow !important;
  border-color: yellow  !important;
  border-width: 0.1px !important;
  text-shadow: 0 0 2px yellow, 0 0 5px yellow, 0 0 5px yellow;
  box-shadow: inset 0 0 3px yellow, 0 0 2px yellow, 0 0 2px yellow, 0 0 3px yellow !important;
}

.card-img-top
{ 
  z-index: 1 !important;
}


.cards {
  display: grid;
  /* use auto-fit to automatically adjust columns based on space available */
  grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
  gap: 20px;
  justify-items: center; /* Center items in each cell */
}

::-webkit-scrollbar {
  width: 0px;
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: transparent; 
}